# common
DEBUG=1

# gateway
GATEWAY_HOST=127.0.0.1
GATEWAY_PORT=3000

# sk-ollama
GATEWAY_ROUTE_c2stb2xsYW1h=http://127.0.0.1:11434

# mqtt
MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=qmaru
MQTT_PASSWORD=123456
MQTT_WITH_TLS=false
MQTT_CLIENT_ID=agent-qedge
MQTT_CLEANSTART=false
MQTT_RETAIN=false
MQTT_TOPIC=ai/agent
MQTT_QOS=2
